html {
  box-sizing: border-box;
  font-family: "Karma";
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: .25em;
  padding-right: 1rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: #6f00e7;
  font-weight: bold;
  font-size: 2rem
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-left: 1rem;
}

ol > li {
  display: flex;
  flex-direction: column;
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.cart {
  background-color: #6f00e7;
  font-size: 1.4rem
  padding: .5em;
  border-radius: 6px;
  border: 3px solid #6f00e7;
  text-decoration: none;
}

ol li a {
  font-family: "Oswald";
  color: #fff;
  font-size: 1.4rem
  padding: .5em;
  border-radius: 3px;
  text-decoration: none;
}

ol ul {
  display: flex;
  list-style-type: none;
  align-items: flex-end;
}

p {
justify-content: space-around;
  color: #000;
  paddings: -top: .5em, 1.5em, .7em;
  margins: .25em, 1.5em;
}

img {
  width: 30%;
}



/* -  *Typefaces:* `Karma`, `Oswald`
- *Text sizes:* `1.4rem`, `2rem`
- *Line-heights:* `1.5`
- *Colours:* `#6f00e7`, `#987ffa`, `#000`
- *Gaps:* `1rem`
- *Margins:* `.25em`, `1.5rem`
- *Paddings:* `.5em 1.5em .7em`, `.25em`, `1rem`
- *Border thicknesses:* `3px`
- *Corner-radii:* `3em`, `6px` */
